<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
        </div>
    </div>
</div>

<div class="container py-5 text-center ">
      <div class="row d-flex justify-content-center">
        <div class="row">
        <div class="col d-flex justify-content-center">
            
        </div>
    </div>
                            <div class="col-4 ">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white text-center ">
                                        <div class="heading_s1">
                                            {{#if loginerr}}
                                            <p class="text-danger">Invalid Username/Password</p>
                                            {{/if}}
                                            {{#if signup}}
                                            <p class="text-success">Sign up complete, Please login</p>
                                            {{/if}}
                                            <h3 class="mb-30">Login</h3>
                                        </div>
                                        <form action="/login_submit" method="post" >
                                            <div class="form-group">
                                                <input type="text"  name="email" placeholder="Email/Phone Number">
                                            </div>
                                            <div class="form-group">
                                                <input  type="password" name="password" placeholder="Password">
                                            </div>
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                        <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                                    </div>
                                                </div>
                                                <a class="text-muted" href="#">Forgot password?</a>
                                            </div>
                                           

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" >Log in</button>
                                            </div>
                                             <p>Don't have an account? <a href="/signup">Signup!</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
</div>