<%- include('../partials/user-header') %>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
        </div>
    </div>
</div>

<div class="container py-5 text-center ">
      <div class="row d-flex justify-content-center">
        <div class="row">
        <div class="col d-flex justify-content-center">
            
        </div>
    </div>
                            <div class="col-4 ">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white text-center ">
                                        <div class="heading_s1">

                                     
                                  
                                            
                                   
                                            
                                      
                                            <p>New password</p>
                                        </div>
                                        <form action="/updatepassword" method="post" >
                                            <!-- <div class="form-group">
                                                <input type="text"  name="phone" placeholder="Phone Number" required >
                                            </div> -->
                                            <div class="form-group mt-3">
                                                <input  type="password" name="password" id="pass" placeholder="Enter your new password" required >
                                                <label for="" id="err1" class="text-danger" style="display:none;">Password should contain minimum 8 characters!</label>
                                            </div>
                                            <div class="form-group mt-3">
                                                <input  type="password" name="password1" id="pass1" placeholder="Re-enter your new password" required >
                                                <label for="" id="err2" class="text-danger" style="display:none;">Password doesn't match the above password</label>
                                            </div>
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                    </div>
                                                </div>
                                                <!-- <a class="text-muted" href="/login">Login with password?</a> -->
                                            </div>
                                           

                                            <div class="form-group">
                                                <button type="submit" id="btn" class="btn btn-fill-out btn-block hover-up" onclick="return confirm('Your password have been updated, You will be logged out from all the devices.Please Login with your new password.');" >Submit</button>
                                            </div>
                                             <p><a href="/otplogin">Go back?</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
</div>


<script>

let err1 = false
let err2 = false
document.getElementById('pass').onchange = ()=>{

    let pass = document.getElementById('pass').value

    if(pass.length<8)
    {
        document.getElementById('err1').style.display = "block"
        err1 = true
    }
    else
    {
        document.getElementById('err1').style.display = "none"
        err1 = false
    }

}

document.getElementById('pass1').onchange = ()=>{

let pass = document.getElementById('pass').value

if(pass.length<8)
{
    document.getElementById('err1').style.display = "block"
    err2 = true
}
else
{
    document.getElementById('err1').style.display = "none"
    err2 = false
}

}


document.getElementById('btn').onmouseover = ()=>{

    let pass1 = document.getElementById('pass1').value
    let pass = document.getElementById('pass').value

    if(err1 || err2)
    {
        document.getElementById('pass1').value = ""
document.getElementById('pass').value = ""
    }

  


}
</script>

<%- include('../partials/user-footer') %>